<div class="category-filter">
  <h3>카테고리</h3>
  <ul class="categories">
    <li>
      <a href="#" class="category-link active" data-category="all">
        <span class="category-name">전체</span>
        <span class="count">0</span>
      </a>
    </li>
    <li>
      <a href="#" class="category-link" data-category="모델 업데이트">
        <span class="category-name">모델 업데이트</span>
        <span class="count">0</span>
      </a>
    </li>
    <li>
      <a href="#" class="category-link" data-category="연구 동향">
        <span class="category-name">연구 동향</span>
        <span class="count">0</span>
      </a>
    </li>
    <li>
      <a href="#" class="category-link" data-category="시장 동향">
        <span class="category-name">시장 동향</span>
        <span class="count">0</span>
      </a>
    </li>
    <li>
      <a href="#" class="category-link" data-category="개발자 도구">
        <span class="category-name">개발자 도구</span>
        <span class="count">0</span>
      </a>
    </li>
  </ul>
</div> 